@keyframes shimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.speaker-image-placeholder, .speaker-favorite-placeholder, .title-placeholder {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
    background-size: 1000px 104px;
    height: 100px; /* Adjust based on your needs */
    position: relative;
}

.speaker-image-placeholder {
    width: 100%;
    height: 100px; /* Adjust to match your image placeholder size */
}

.speaker-favorite-placeholder {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: 8px; /* Adjust based on layout */
}

/* Skeleton loader for the speaker name */
.speaker-name-placeholder .animated-background {
    height: 20px; /* Rough height of text */
    width: 70%; /* Adjust based on the expected length of the name */
    margin-bottom: 10px;
}

.title-placeholder {
    width: 100%; /* Full width to match the container's size */
    height: 20px; /* Approximate height of a single line of text */
    background: linear-gradient(to right, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
}

/* Additional styling to ensure the placeholders align correctly */
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
